<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index Page</title>
</head>
<body>
<h6>로그인 : <%= username %> 개발자</h6>
<a href = "login"><input type="button" value="로그인"></a>
<!-- <a href = "/auth/facebook"><input type = "button" value = "페이스북 로그인"></a>--><br>
<a href = "insert"><input type= "button" value= "회원가입"></a><br>
<a href = "delete"><input type= "button" value= "회원탈퇴"></a><br>
<a href = "edit"><input type = "button" value = "회원정보수정"></a><br>
<a href = "logout"><input type = "button" value = "로그아웃"></a><br><br>
<a href = "main"><input type = "button" value = "메인화면으로 이동"></a>
</body>
</html>
