<html>
    <head>
        <meta charset = "utf-8">
        <title><%= username %>개발자님 환영합니다</title>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1><%= username %>님</h1>
    </body>
</html>