<html>
<head>
    <title>Google account register</title>
    <meta charset = "utf-8">
</head>
<body>
    <h1>비밀번호 설정</h1>
    <h3>Username : <%= username %></h3>
    <h3>ID : <%= id %></h3>
    <h2>Password : </h2><input type="text" name="password" placeholder="비밀번호 입력"><br><br>
    <input type="submit" value="회원가입">
</body>
</html>